* {
    font-family: "Roboto Mono", monospace;
    color: #010305;
}


body {
    margin: 0;
}

.site {
    background: linear-gradient(130deg, #3E849E, #2C5F78, #2C3D52);
    width: 100%;
}

header {
    padding: 0 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    box-sizing: unset;
    margin: 50px 50px;
    width: 60px;
}

.navbar {
    margin: 0 50px;
}

.nav-list {
    padding: 0;
    display: flex;
}

.nav-item {
    font-size: 1.5rem;
    font-family: "Roboto Mono", monospace;
    list-style-type: none;
}

.nav-link {
    margin: 0 0 0 25px;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

main {
    width: 100%;
}

.intro {
    padding-top: 160px;
}

.intro-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 10%;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 10%;
}

.intro-img {
    margin: 0 10% 0 0;
    width: 400px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.title {
    margin: 0;
    text-align: center;
    font-size: 3rem;
    font-family: "Roboto Mono", monospace;
}

.intro-div .description {
    text-align: center;
    margin-left: 10px;
}

.description {
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
    color: #C4C4C4;
}

.services {
    display: block;
}

.services-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.service-item {
    margin-top: 100px;
    font-size: 1.4rem;
    text-align: justify;
}

.service-item .text .subtitle {
    color: #C4C4C4;
}

.service-item .text .description {
    margin-top: 70px;
    text-align: justify;
}

button {
    padding: 10px 20px;
    background-color: #51ACC5;
    border: none;
    border-radius: 10px;
    box-shadow: -5px 5px 10px #0103056e;
    font-size: 1.2rem;
}

button:hover {
    cursor: pointer;
    background-color: #3E849E;
}

.intro-two, .about-us, .why-us, .contact {
    display: flex;
    justify-content: space-between;
}

.about-us .description {
    display: flex;
    justify-content: center;
    margin-left: 30px;
}

.list .description {
    margin: 60px 50px 60px 20px;
    list-style-type: none;
}

.contact .description {
    margin: 60px 50px 60px 20px;
}

footer {
    padding-top: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    padding: 0 10%;
}

.div-logo {
    display: flex;
}

.footer-top .div-logo .title {
    font-size: 2.7rem;
}

.footer-top img {
    margin-top: 10px;
    margin-left: 15px;
    width: 2.7rem;
    height: 2.7rem;
}

.footer-top .title {
    font-size: 3rem;
    color: #FFF;
    margin: 0;
}

footer .description {
    text-align: center;
    padding: 0 10%;
    font-size: 1rem;
    color: #FFF;
}

.footer-list {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 20px;
}
.footer-item {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.footer-item p {
    margin-left: 10px;
    color: #FFF;
    font-size: 0.8rem;
    text-align: center;
}

.footer-item svg {
    margin-right: 10px;
}

.footer-bottom {
    text-align: center;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
}
/*Responsiviness*/
@media (max-width: 1200px) {
    header  {
        padding: 10px;
    }
    .intro {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .intro-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
    }
}
@media (max-width: 850px) {
    header {
        flex-direction: column;
    }
    .nav-list {
        display: flex;
        flex-direction: column;
    }
    .logo-img {
        width: 30px;
    }
    .intro-img {
        margin: 10px;
        width: 200px;
    }
    .about-us {
        display: flex;
        flex-direction: column;
    }
    .title {
        font-size: 30px;
    }
    .subtitle {
        font-size: 15px;
    }
    .nav-item, button, .description, p {
        font-size: 12px;
        margin: 30px;
    }
    .footer-top .description, .footer-list .footer-item .description {
        font-size: 12px;
    }
    button {
        width: 200px;
        height: 40px;
    }
    .footer-bottom {
        font-size: 12px;
    }
}